/Intermediate
/DerivedDataCache
/Saved
/ACT2.sln
/Source
/.vs
/.vsconfig
/Content/Characters/Kiana
/Content/ThirdPerson/BasePlayer/Player/BP_KianaPlayer.uasset
/Content/PolygonScifi
/Content/PolygonSciFiSpace
/Content/CyberpunkDowntown
/Content/PolygonCity
/Content/PolygonCyberCity
/Content/PolygonHeist
/Content/ParagonWraith
/Content/QuaterniusAssets
/Content/Robot_Police
/Content/Robots
/Content/Sequences
/Content/ThirdPerson/Machanics/PhysicsSurface
/Content/ThirdPerson/Machanics/DeadVolume
/Content/ThirdPerson/Machanics/Mach
/Content/ThirdPerson/Machanics/Inventories/Introduction_Mat.uasset
/Content/ThirdPerson/Machanics/Inventories/BuffItem
/Content/ThirdPerson/Machanics/Inventories/GiveAbilityItem
/Content/ThirdPerson/Machanics/Inventories/IntroductionItem
/Content/ThirdPerson/Machanics/Inventories/SpecialEquipments
/Content/ThirdPerson/Machanics/Inventories/SubWeapon
/Content/ThirdPerson/Machanics/Inventories/AirLightAttackItem_Mat.uasset
/Content/ThirdPerson/Machanics/Inventories/BP_ParantInventoryManager.uasset
/Content/ThirdPerson/Machanics/Inventories/CaptureInventoryUI.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/HeavySword
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/Staff
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/BP_Parant_MainWeaponInventory.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/BP_ParantMainWeaponItem.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/BP_Sword_Item.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/FistCommand.png
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/FistCommand.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/LongSword/LongSwordUI.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/LongSword/SwordCommand.png
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/LongSword/SwordCommand.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/LongSword/SwordTex.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/LongSword/ANS_Sword_HeatUp.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/LongSword/BP_Sword.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/LongSword/BP_Sword_Inventory.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/LongSword/BP_Sword_Item.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/LongSword/CyberSword_Tex.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/LongSword/GE_SwordLightingEffect.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/LongSword/LongSword.uasset
/Content/ThirdPerson/Machanics/Inventories/MainWeapon/LongSword/LongSwordIcon.uasset
/Content/ThirdPerson/Quests/Products
/Content/ThirdPerson/Enermy/Enermy5_Fly
/Content/ThirdPerson/Enermy/TutorialMan
/Content/ThirdPerson/Enermy/Bosses
/Content/ThirdPerson/Enermy/Enermy2_Khaimera
/Content/ThirdPerson/Enermy/Enermy3_Egie
/Content/ThirdPerson/Enermy/Enermy4_RocketRobot
