/Intermediate
/DerivedDataCache
/Saved
/ACT2.sln
/Source
/.vs
/.vsconfig
/Content/Characters/Kiana
/Content/ThirdPerson/BasePlayer/Player/BP_KianaPlayer.uasset
/Content/PolygonScifi
/Content/PolygonSciFiSpace
/Content/CyberpunkDowntown
/Content/PolygonCity
/Content/PolygonCyberCity
/Content/PolygonHeist
